<h1 id="mainHeader">Microservice Example</h1>

<h4>Teammate's Service will make a GET request to myServerAddress/microservice</h4>

<div id="formContainer">
    <form id="userForm">
        <input type="submit" value="Get Random Task">
    </form>
</div>

<div class="userDisplay">
    <p id="randomTask"></p>
</div>

<script src="/js/getTask.js"></script>
